@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1575445195513'); /* IE9 */
  src: url('iconfont.eot?t=1575445195513#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABnQAAAKCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBAIEeATYCJAMICwYABCAFhG0HMBvEBcgOJRHHwCTggcBEPPy33+/3mTuYSCSKZtEQ8UYoRNHYyHR8db6F8tubXNOUSA3cdhkqQFQI32/ywPmMHKvVDjWRH7uxIxBusrr/c8x49TwK8wPNJSM5EnBg0wFGFY1sIznyG8YucAmnCVTrl8Gy3tTRDdwya1IgzgWOAe6cT5ZZslIor1mZxRNwqEzX1ifAY/j7+Ccv3CRlBats67AxBGp+Anaa7TI6a9g3gK35LGDrKDALyMRebWyDTTC8TXXMbhjYV3HwE4iWfIPYq1awf51VWAt6Ie+e+K7gVgsTyHHvOGB11N2kbv9M72r86bvl7b339aX77bXn9r18Ja5nf/l6Ti1jP977dnt9KYdJn9/5eWcJbLFt8/F53bZh8zW2zVT8FO9SxCYexuR/feOF58r0Wz7dhq2e+ARLeEq5CVsFNvw7oAZAadj2kiICwf+bxquxhvlIpS+D78DCY+gpDdv1c1B5Cnvwq/g9W7IutPQpq/xaRzI+amJCtWqUAHY1+xuraruvVKjUdneOCn0pFCqNIjJmFsrUmINylZag2ozm9TVaEDaRqzBtCUBodApJvWcoNHpGZMwvlGn3D+UawwbVDqJlxxrjIXjXCGIoCsHgDBRYTcWOkXqj4k7ETcgMyQpDai8iphCEuVk5xWQzUhGZY445yeVRiiEmmgKbwHlIljWoE01ELM3iKdXLsrNx3YeyWE0BXmsIhEEhIVDQDEjA0qiw353ylr7fCeFMkDFIS0WNtRdCmIT+oVxZcnogmmVqr4p7ecc0iZOHojAIIzQKqAkMQ2QyDaTXDxMhLCoLPyKiK5Ntd8J9ZVnrK5QPyGU1WOoU9qBC+QViCMsDAAAA') format('woff2'),
  url('iconfont.woff?t=1575445195513') format('woff'),
  url('iconfont.ttf?t=1575445195513') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1575445195513#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e60d";
}

